{{#> layouts/base }}
  {{#*inline "content"}}

    <mwc-top-app-bar>
      <div slot="title">Список покупок</div>
      <mwc-icon-button id="info" icon="info" slot="actionItems"></mwc-icon-button>
    </mwc-top-app-bar>

    <mwc-dialog id="dialog" heading="Что это?">
      <div>
        Это цифровой список покупок.
        Данные о покупках сохраняются в телефоне и никогда не отправляются в интернет.
        Приложение работает и в оффлайне.
      </div>
      <mwc-button
          slot="primaryAction"
          dialogAction="accept">
        Ясно
      </mwc-button>
    </mwc-dialog>

    <main class="main">
      <div class="wrapper">

        <h2>Опции</h2>
        
        <h3 class="title">Выбрать день</h3>
        <mwc-textfield id="date" value="25/01/2021" label="Дата" icon="date_range" helper="Выбрать день"
                       helperPersistent="true"></mwc-textfield>

        <h3 class="title">Добавить новый товар в список</h3>
        <mwc-textfield id="product-name" label="Название товара" icon="add" helper="Добавить новый товар в список"
                       helperPersistent="true"></mwc-textfield>

        <h2 class="title">Список покупок</h2>

        <h3 class="title">Что купить?</h3>
        <mwc-list multi id="default-list"></mwc-list>

        <h3 class="title">Куплено</h3>
        <mwc-list multi id="selected-items-list"></mwc-list>

      </div>
    </main>
  {{/inline}}
{{/ layouts/base }}