{{#> layouts/base }}
  {{#*inline "content"}}

    <mwc-top-app-bar>
      <div slot="title">Список покупок</div>
      <mwc-icon-button id="info" icon="info" slot="actionItems"></mwc-icon-button>
    </mwc-top-app-bar>

    <mwc-dialog id="dialog" heading="Что это?">
      <div>
        Это цифровой список покупок.
        Данные о покупках сохраняются в телефоне и никогда не отправляются в интернет.
        Приложение работает и в оффлайне.
      </div>
      <mwc-button
          slot="primaryAction"
          dialogAction="accept">
        Ясно
      </mwc-button>
    </mwc-dialog>

    <main class="main">
      <div class="wrapper">

        <h3 class="title">Добавить новый товар в список</h3>
        <mwc-textfield id="product-name" label="Название товара" icon="add" helper="Добавить новый товар в список"
                       helperPersistent="true"></mwc-textfield>

        <div class="products-list">

          <div class="default-list-wrapper">

          <div class="list-header">
            <h3 class="title">Что купить?</h3>
            <mwc-button class="mwc-button" outlined label="Очисить список"></mwc-button>
          </div>

          <mwc-list multi id="default-list"></mwc-list>
          </div>

          <div class="selected-list-wrapper">
            <div class="list-header">
              <h3 class="title">Куплено</h3>
              <mwc-button class="mwc-button" outlined label="Очисить список"></mwc-button>
            </div>

          <mwc-list multi id="selected-items-list"></mwc-list>

          </div>

        </div>
      </div>
    </main>
  {{/inline}}
{{/ layouts/base }}