.products-list {
  max-width: 800px;
}

.products-list h3.title {
  margin-bottom: 0;
}

.placeholder-text-node {
  height: 56px;
  padding: 0 16px;
  line-height: 1.15;
  display: flex;
  align-items: center;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;

  .title {
    margin-top: 0;
  }
}