@import 'components/footer';

body {
  font-family: Montserrat, sans-serif;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2.5rem;
  box-sizing: border-box;


  //--color: #444;
  --color: #333;
  //--color: #222;
  color: var(--color);
  --mdc-dialog-heading-ink-color: var(--color);
  --mdc-theme-text-primary-on-background: var(--color);
  --mdc-text-field-ink-color: var(--color);
}

.wrapper {
  padding: 0 1.25rem;

  @include medium() {
    padding: 0 2.5rem;
  }
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
