{{!-- includes/navbar --}}

<!--<mwc-top-app-bar>-->
<!--    <div slot="title">List of products</div>-->
<!--    <mwc-icon-button icon="info" slot="actionItems"></mwc-icon-button>-->
<!--</mwc-top-app-bar>-->