{{!-- layouts/base.hbs --}}

<!DOCTYPE html>
<html lang="en">

<head>
  {{> includes/analytics-head-scripts }}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#fafbfb"/>
  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="media/icons/maskable_icon.png">
  <link rel="apple-touch-icon" href="media/icons/maskable_icon.png">
  <title>
    {{#if title}}
      {{title}}
    {{else}}
      List of products
    {{/if}}
  </title>
  {{#> head-block}}
  {{!-- Custom <head> content per page could be added. --}}

    <meta name="description" content="Это цифровой список покупок.
    Данные о покупках сохраняются в телефоне и никогда не отправляются в интернет.
    Приложение работает и в оффлайне.">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">-->
  {{/head-block}}
</head>
<body>

<div class="page">

  <div class="content">
    {{#> content }}{{/ content }}
  </div>

</div>
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function () {
      navigator.serviceWorker.register('/serviceWorker.js')
          .then(registration => {
            // Регистрация прошла успешно
            console.log('Sw registered with scope: ', registration.scope)
          })
          .catch(err => {
            // Регистрация не удалась
            console.log('SW registration failed: ', err)
          })
    })
  }
</script>
</body>
</html>